.botao{
    border: solid 1px rgb(10, 10, 14);
    color: rgb(0, 0, 5);
    background-color: rgb(230, 220, 220);
    margin: 1px 1px;
    background: linear-gradient(90deg, #627072, #899b9e, #709096);
    width: 150px;
   
}